/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --active-button-color: rgba(50, 49, 45, 0.4);
  --button-color: var(--text-color);
  --accent-color: #FF8DCB;
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-text-color: var(--text-color);
  --posttitle-text-color: var(--text-color);
  --text-color: #353430;
  --topic-title: var(--text-color);
  --border-color: var(--text-color);
  --is-light: hidden;
}