/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url("../images/cover-image-dark.png");
  --active-button-color: rgba(255, 0, 112, 0.4);
  --button-color: #FF0070;
  --accent-color: #FF0070;
  --background-color: #000028;
  --title-color: #DB00FF;
  --title-text-color: #000028;
  --text-color: #F1B2CE;
  --posttitle-text-color: var(--title-text-color);
  --topic-title: var(--accent-color);
  --border-color: var(--accent-color);
  --is-light: visible;
}